<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar collapse">
        <span class="navbar-toggler-icon"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="">
        Recipe
      </a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li>
          <a routerLink="">Home</a>
        </li>
        <li>
          <a routerLink="/groceryList">Grocery List</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" *ngIf="isAuthenticated" appDropdown>
          <a href="#" class="dropdown-toggle" role="button">Manage Recipe</a>
          <ul class="dropdown-menu">
            <li><a routerLink="/create">New Recipe</a></li>
            <li><a href="#">Manage Recipe</a></li>
          </ul>
        </li>
        <li *ngIf="!isAuthenticated">
          <a routerLink="/login">Login</a>
        </li>
        <li *ngIf="!isAuthenticated">
          <a routerLink="/signup">Register</a>
        </li>
        <li class="logout" *ngIf="isAuthenticated">
          <button type="button" class="btn btn-link" (click)="onLogout()">Logout</button>
        </li>
      </ul>
      <form class="form-inline" id="search">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
