<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar collapse">
        <span class="navbar-toggler-icon"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="" (click)="reset()">
        Recipe
      </a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active">
          <a routerLink="recipes" (click)="reset()">Home</a>
        </li>
        <li routerLinkActive="active">
          <a routerLink="/groceryList" (click)="reset()">Grocery List</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" *ngIf="isAuthenticated" routerLinkActive="active" appDropdown>
          <a class="dropdown-toggle" role="button" >Manage Recipe</a>
          <ul class="dropdown-menu">
            <li><a routerLink="/create" (click)="reset()">New Recipe</a></li>
            <li><a (click)="onManage()" routerLink="/manage">Manage Recipe</a></li>
          </ul>
        </li>
        <li *ngIf="!isAuthenticated">
          <a routerLink="/login" (click)="reset()">Login</a>
        </li>
        <li *ngIf="!isAuthenticated">
          <a routerLink="/signup" (click)="reset()">Register</a>
        </li>
        <li class="logout" *ngIf="isAuthenticated">
          <button type="button" class="btn btn-link" (click)="onLogout()">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
