<div class="container">
  <div class="row" *ngIf="recipes.length > 0 && recipes">
    <!--<app-recipe-item
      *ngFor="let recipe of recipes"
      [recipe]="recipe"
    ></app-recipe-item>-->
  <div class="col-sm-3" *ngFor="let recipe of recipes">
    <div class="card" >
      <a [routerLink]="['/recipe', recipe.id]"><img class="card-img-top" [src]="recipe.imagePath" [alt]="recipe.title"></a>
      <div class="card-body">
        <a [routerLink]="['/recipe', recipe.id]"><h4 class="card-title">{{recipe.title}}</h4></a>
        <p class="card-text">{{recipe.instructions}}</p>
        <a class="btn btn-primary" [routerLink]="['/edit', recipe.id]">edit</a>
        <a class="btn btn-primary" (click)="onDelete(recipe.id)">delete</a>
      </div>
    </div>
  </div>
</div>
</div>
<mat-paginator [length]="totalRecipes" [pageSize]="recipesPerPage"
               [pageSizeOptions]="pageSizeOptions" (page)="onPageChange($event)" *ngIf="recipes.length > 0"></mat-paginator>
<p *ngIf="recipes.length<=0">No Recipe</p>
